.wrapper {
    min-width: 352px;}
    .wrapper table.list {
        width: 100%;
        padding: 0;}
        .wrapper table.list tr.item {
            list-style: none;}
            .wrapper table.list tr.item textarea {
                resize: none;
                width: 100%;
            }