div#citation-search-modal-container {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 120px;
    position: fixed;
    top: 80px;
    display: block;
    z-index: 999;
    background: grey;
    padding: 5px 10px;}
    div#citation-search-modal-container select {
        width: 100%;}
    div#citation-search-modal-container textarea {
        width: 100%;
        box-sizing: border-box;
        resize: vertical;}
    div#citation-search-modal-container div.controller-container {
        width: 100%;}
        div#citation-search-modal-container div.controller-container button {
            float: left;
            width: 40%;}
            div#citation-search-modal-container div.controller-container button:last-child {
                float: right;}